body{
      background-color: #9cf3e0;
}

.container{
      display: flex;
      margin: 20px;
      align-items: center;
      padding: 10px;
   
      border-radius: 10px;
      width: 40%;
      background:rgb(240, 236, 229);
      
  }
h1{
      margin:20px
  }
ul{
      list-style: none;
  }  
.btn{
      margin: 20px;
      padding: 10px;
      border-radius: 5px;
      border: none;
}
.btn:hover{
      border-radius: 10px;
      border: none;
      background-color: bisque;
}
img{
      border-radius: 10px;
}